:root {
  --toyota-red: #FD0000;
  --black: #212121;
  --white: #FFFFFF;

  --gray-100: #F7F7F7;
  --gray-200: #ECECEC;
  --gray-400: #BDBDBD;

  --shadow: 0 12px 30px rgba(0,0,0,.08);

  --radius: 8px;

  --transition: .25s ease;
}