
.welcome-page {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    padding: clamp(20px, 2vw, 36px);

    display: flex;
    flex-direction: column;
    gap: clamp(16px, 2vh, 28px);
    overflow: hidden;
    
    background:
        url('/src/assets/images/backgrounds/welcome.jpeg') center/cover no-repeat;
        HEIGHT: 100%;
    
    background-size:40%;
    background-position:right center;
}

.MNlogo {
  height: 16rem;
  object-fit: contain;
}

.logo-welcome {
  display: flex-start;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.welcome-header {
    width: 100%;
    height: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: clamp(1rem,2vw,2rem) clamp(2rem,4vw,4rem);
}

.welcome-main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    padding-left: clamp(2rem,4vw,8rem);
    padding-bottom: clamp(2rem,4vw,8rem);
    margin:0;
}

.welcome-content {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 1000px;
    width: 100%;

    gap: 0.5rem;
}

.welcome-content h1 {
    font-size: clamp(2rem, 4vw, 4.5rem);
    color: var(--black);
    font-weight: 700;
    line-height: .95;
    max-width: 40ch;
    word-break: keep-all;
}

.welcome-content p {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: var(--primary);
    font-weight: 600;
    line-height: 1.6;
    width: 100%;
}

.start-button {
    position: static;
    margin-top: 1rem;

    left: clamp(1.5rem, 3vw, 3rem);
    bottom: clamp(3rem, 6vh, 5rem);

    min-width: 220px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding:  1rem;

    background: var(--primary);
    color: var(--white);
    border: 2px solid var(--primary);
    border-radius: 0px;
    font-size: clamp(1rem, 1.2vw, 1.25rem);
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
}

.start-button:hover,
.start-button:active {
    background-color: var(--black);
    border: 2px solid var(--black);
    color: white;
}